body {
  font-family: 'Inter', sans-serif;
}

/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;    /* Firefox */
}

/* Chat bubble colors */
.user-message {
  background-color: #38a169; /* green */
}
.bot-message {
  background-color: #3f83f8; /* blue */
}
